<footer>
    <div class="py-5 text-white w-75 m-auto d-flex justify-content-between">
        <div class="text-center">
            <h3>LOCATION</h3>
            <p class="pt-3 fs-5">2215 John Daniel Drive<br>
                Clark, MO 65243</p>
        </div>
        <div class="text-center">
            <h3>AROUND THE WEB</h3>
            <div class="pt-3 d-flex justify-content-between">
                <i class="fab fa-facebook fs-2"></i>
                <i class="fab fa-twitter fs-2"></i>
                <i class="fab fa-linkedin-in fs-2"></i>
                <i class="fab fa-google fs-2"></i>
            </div>
        </div>
        <div class="text-center">
            <h3>ABOUT FREELANCER</h3>
            <p class="pt-3 fs-5">Freelance is a free to use, MIT <br>licensed Bootstrap theme created by<br> Route</p>
        </div>

    </div>
    <div class="py-3 bg-d text-center">
        <p class="text-white"> Copyright © Your Website 2021</p>
    </div>
</footer>