<div class="about py-5">
    <div class="text-white w-50 m-auto">
        <h2 class="text-center">ABOUT</h2>
        <div class="text-center py-2">
            <i class="fa-solid fa-minus ms-2 fs-1"></i>
            <i class="fa-solid fa-star ms-2 fs-1"></i>
            <i class="fa-solid fa-minus ms-2 fs-1"></i>
        </div>
        <div class="d-flex justify-content-between py-5">
            <p class="fs-5 me-2">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                including
                HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>

            <p class="fs-5 ms-2">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your
                email
                address to the contact form to make it fully functional!</p>
        </div>
    </div>
</div>