<nav class="nav">
    <div class="w-75 m-auto d-flex justify-content-between">
        <a class="text-white fs-3 fw-bold" [routerLink]="''" href="">START ANGULAR</a>
        <ul class="mb-2 d-flex justify-content-between align-items-center">
            <li class="ms-5 list-unstyled ">
                <a class="fw-bold" routerLinkActive="active" [routerLink]="'portfolio'">PORTFOLIO</a>
            </li>
            <li class="ms-5 list-unstyled">
                <a class="fw-bold" routerLinkActive="active" [routerLink]="'about'">ABOUT</a>
            </li>
            <li class="ms-5 list-unstyled">
                <a class=" fw-bold" routerLinkActive="active" [routerLink]="'contact'">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>