<div class="contact py-5">
    <div class="w-50 m-auto">
        <h2 class="text-center">CONTACT ME</h2>
        <div class="text-center py-2">
            <i class="fa-solid fa-minus ms-2 fs-1"></i>
            <i class="fa-solid fa-star ms-2 fs-1"></i>
            <i class="fa-solid fa-minus ms-2 fs-1"></i>
        </div>
        <form>
            <label for="name" class="form-label">Name</label>
            <input class="form-control mb-2" type="text" id="name" [(ngModel)]="name">
            <label for="Email" class="form-label">Email</label>
            <input class="form-control mb-2" type="text" id="Email" [(ngModel)]="email">
            <label for="phone" class="form-label">Phone Number</label>
            <input class="form-control mb-2" type="text" id="phone" [(ngModel)]="phone">
            <label for="Message" class="form-label">Message</label>
            <input class="form-control mb-2" type="text" id="Message" [(ngModel)]="message">
            <button type="submit" class="btn btn-success mt-5">Submit</button>
        </form>
    </div>
</div>