.portfolio{
    color: #2c3e50;
}

h2{
    font-size: 55px;
}

.rad {
    border-radius: 16px;
}
.for-hover{
    position: relative;
    overflow: hidden;
}
.bg-green{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
}

.for-hover:hover .bg-green{
    opacity: 1;
}

.bg {
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    padding:0 0 270px;
}

.x-btn{
    position: absolute;
    top: 6%;
    right: 18%;
}